<head>
	<title>Clinic-I</title>
</head>

<template name="index">
    <body>
     {{> nav}}
     {{> header}}
     <!-- {{> modals}} -->
     {{> Template.dynamic template='modaling'}}
 </body>
</template>



<Template name="modals">
	{{> modal1}}
	{{> modal2}}
</Template>

<Template name="nav">
   <!-- Navigation -->
   <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Clinic-I</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <!-- <li><a href="#portfolioModal1" data-toggle="modal">About</a></li> -->
            <!-- <li><a href="#portfolioModal2" data-toggle="modal">Team</a></li> -->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{> loginButtons}}
        </ul>
    </div>
</div>
</nav>
</Template>

<template name="_loginButtonsAdditionalLoggedInDropdownActions">
    <button class="btn btn-default btn-block" id="login-buttons-edit-profile">Edit profile</button>
</template>


<Template name="checkIn">
  <header>
            {{#if currentUser}}
            <a id="services"  data-toggle="modal" data-target="#exampleModal" class="btn btn-xl"> EIT Check In</a>
           <a href="/admin" class="btn btn-xl">MEST Admin Login</a> <a href="/clinic" class="btn btn-xl">Clinic Login</a> 
            {{else}}
            <a href="#" class="btn btn-xl">Welcome</a>
            {{/if}}
</header>
</Template>


<Template name = "header">
    <script>
        new WOW().init();
    </script>

    <header class="slider" id="top">
        <div id="novelty-home-slider" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/img/nursepic1.jpg" style="width:2000px">
                    <div class="carousel-caption">
                     <div class="intro-text wow bounceInRight">
                        {{> checkIn}} 

                    </div>


                </div>
            </div>
            <!-- <div class="item">
            <img src="/img/nursesss.jpg" style ="width:2000px" alt="...">
                <div class="carousel-caption">
                    <div class="intro-text wow bounceInRight">
                        <a href="/admin" class="btn btn-xl">MEST Admin Login</a>

                    </div>

                </div>
            </div> 
            <div class="item">
                <img src="/img/pic7.jpg" style ="width:2000px" alt="...">
                <div class="carousel-caption">

                    <div class="intro-text wow bounceInRight">
                        <a href="/clinic" class="btn btn-xl">Clinic Login</a>
                    </div>
                </div>
            </div> -->

        </div>
    </div>

    <a class="left carousel-control" href="#novelty-home-slider" role="button" data-slide="prev">
        <span  aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#novelty-home-slider" role="button" data-slide="next">
        <span aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</header>
</Template>


<template name="modaling">
    {{#with $.Session.get 'checkIn'}}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div>
                <h5 class="text-center">This is your clinic Pass: </h5>
                <h4 class="text-center">{{_id}}</h4>
                <p class="text-center">Admin has been notified and neccesary follow ups will be made</p>
            </div>
        </div>
    </div>
</div>
</div>
{{/with}}
</template>


