
<template name="report">
	<body>
<div id="wrapper">
	<div id="">
		<h4>Diseases</h4>
		<ul id="bar">
			<li id="iphone">
				<div class="top">
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>Malaria</h3>
						<p>40%</p>
					</div>
				</div>
			</li>
			<li id="macbook">
				<div class="top">
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>Stress/Fatigue</h3>
						<p>30%</p>
					</div>
				</div>
			</li>
			<li id="ipod">
				<div class="top">
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>Bacterial Infections</h3>
						<p>15%</p>
					</div>
				</div>
			</li>
			<li id="cinema">
				<div class="top">
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>Cold/Coughs</h3>
						<p>10%</p>
					</div>
				</div>
			</li>
			<li id="macmini">
				<div class="top">
				</div>
				<div class="bottom">
					<div class="infobox">
						<h3>Other</h3>
						<p>5%</p>
					</div>
				</div>
			</li>
		</ul>
		<div id="apple">
			<img src="images/apple.png" alt="Apple Inc">
			<p>Numbers in millions sold<br>*Numbers are fictional</p>
		</div>
	</div>
</div>

<div class="row">
	
</div>

<div class="row">
<a href="/clinic/reports" class="btn btn-xl"> Back to reports</a>
</div>

<script type="text/javascript">(function () {
        return window.SIG_EXT = {};
      })()</script></body>
</template>
